.app__votebox {
    width: 100vw;
    height: 90.6vh;
    background: var(--color-darkGray);
    border-top: 1px solid var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: var(--color-blue);
}

*::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 10rem;
}

.app__votebox h1 {
    color: var(--color-milk);
    padding-top: 5rem;
}

.app__votebox-table {
    border-radius: .5rem;
    width: 60%;
    height: 50%;
    overflow-y: auto;
}

.app__votebox-expl {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    color: var(--color-milk);
    background: var(--color-black);
    font-family: var(--font-base);
    padding-left: 1rem;
    padding-right: 1rem;
}

.app__votebox-row {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    color: var(--color-milk);
    background: var(--color-darkGray);
    border: 1px solid var(--color-black);
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.app__votebox-row .voteBtn {
    color: var(--color-milk);
    transition: .5s;
}

.app__votebox-row .voteBtn:hover {
    color: var(--color-blue);
}

.app__votebox-row .linkBtn {
    color: var(--color-blue);
    transition: .5s;
}

.app__votebox-row .linkBtn:hover {
    color: var(--color-black);
}

.vote-nr {
    color: var(--color-blue);
}

.center-winner {
    width: 100vw;
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}