.app__login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-darkGray);
}

.app__login-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: blueBox 3s ease-in-out infinite;
}

@keyframes blueBox {
    25% {
        border: 1px solid var(--color-blue);
    }

    50% {
        border: none;
    }

    75% {
        border: 1px solid var(--color-blue)
    }

    100% {
        border: none;
    }
}

.app__login-container h1 {
    color: var(--color-blue);
    font-family: var(--font-base);
}

.app__login-container p {
    color: var(--color-milk);
    font-family: var(--font-base);
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.app__login-container input {
    color: var(--color-milk);
}

.app__login-container button {
    color: var(--color-milk);
    transition: .5s;
}

.app__login-container button:hover {
    color: var(--color-blue);
}